
.form-main-div{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
  }
  .update-form-main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border:1px solid black; */
    box-shadow: 2px 4px 4px rgb(14, 160, 153);
    border-radius: 5px ;
    width: 40%;
    background-color: aliceblue;
    height: 60vh;
    color: rgb(3, 83, 3);
    position: relative;
    padding: 5px;
  }
  
  .update-form-main input{
    padding: 8px;
    margin: 5px;
    width: 60%;
    border: none;
    color: green;
    border-radius: 2px ;
    box-shadow: 1px 1px 2px grey;
  }
  
  
  .update-form-main .btn{
  
    width: 30%;  
    padding: 8px;    
    margin-top: 15px;
    border: none;
    box-shadow: 0px 3px 5px grey;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    background-image: linear-gradient(rgba(13, 54, 2, 0.658), rgba(5, 90, 54, 0.568));
  }